html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden;
   
}
.grid-container {
  display: flex; /* Use flexbox to arrange items horizontally */
  align-items: center; /* Vertically center items */
  
}

.logo img {
  width: 85px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 75px; /* Adjust margin as needed */
}
.nav {
  background: #9be5aa;
  height: 10vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
}

input {
  width: 300px;
  padding: 10px;
  margin: 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  background: #64ca79;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 20px auto;
  margin-top: 50px;
  width: 200px;
}

.loginheader {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #64ca79;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
  margin-right: -157px;
}

.inputs {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px;
  outline: 2px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 70px;
  color: rgb(143, 137, 137);
  border-radius: 6px;
  border: 1px;
  outline: 2px;
  background: rgb(215, 211, 211);
}

.input img {
  margin: 0px 10px;
}

.input input {
  height: 50px;
  width: 100%;
  border: 1px;
  outline: 2px;
  color: rgb(143, 137, 137);
  background: rgb(215, 211, 211);
  font-size: 19px;
}

.underline {
  width: 300px;
  height: 6px;
  background: #64ca79;
  border-radius: 9px;
  margin-top: 0;
}

.footer {
  bottom: 0px;
  width: 100%;
  background-color: #177229;
  height: 75px;
}

.verticalbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.welcomeheader {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #64ca79;
  margin-top: 10px;
  margin-bottom: 25px;
  justify-content: center;
}

.loadingheader {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #177229;
  margin-top: 0px;
  justify-content: center;
}
